/* _control-styling.scss */

$enable-styling: true;

$controls__progress__color: var(--core__button-submit__background-color);

@mixin flat-button-styling {
  @if $enable-styling {
    border-style: none;
    background-color: var(--core__button__background-color);
    color: var(--core__button__color);
    padding: var(--core__button__padding);
  }
}

@mixin validation-highlight($color: null) {
  @if $color == null {
    border-left-width: var(--core__border-width);
    border-left-color: var(--core__border-color);
    text-indent: calc(
      var(--core__control__validation--border-width) - var(--core__border-width)
    );
  } @else {
    border-left: var(--core__control__validation--border-width) solid;
    border-left-color: $color;
    text-indent: 0;
  }
}

@mixin svg-drop-arrow {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,0,0,0.5)'><path d='M4 10l 0 0 24 0 -12 12z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
}

@mixin svg-check($opacity: 1, $color: 0,127,255) {
  /* $color--rgb: red($color) + "," + green($color) + "," + blue($color); */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(127,127,127,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
}

@mixin svg-cross($opacity: 1, $color: 0,127,255) {
  /* $color--rgb: red($color) + "," + green($color) + "," + blue($color); */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(127,127,127,1)' width='32' height='32'><path d='M27 24.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
}

@mixin svg-circle($opacity: 1, $color: var(--core__success__color)) {
  /* $color--rgb: red($color) + "," + green($color) + "," + blue($color); */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(127,127,127,1)'><circle cx='15.5' cy='15.5' r='14'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
}

@mixin valid-background($opacity) {
  @include svg-check($opacity);
  background-color: var(--core__control__background-color);
  background-position: calc(100% - 0.5em) 0.5em;
}

@mixin invalid-background($opacity) {
  @include svg-cross($opacity);
  background-color: var(--core__control__background-color);
  background-position: calc(100% - 0.5em) 0.5em;
}

@if $enable-styling {
  .flat {
    select,
    output,
    meter,
    textarea,
    input[type="checkbox"],
    input[type="radio"],
    input[type="text"],
    input[type="search"],
    input[type="range"],
    input[type="tel"],
    input[type="url"],
    input[type="color"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="local"],
    input[type="number"],
    input[type="file"],
    input:not([type]) {
      border: var(--core__border);
      background-color: var(--core__control__background-color);
      color: var(--core__control__color);

      &[disabled] {
        background-color: disable-color(var(--core__control__background-color));
        color: disable-color(var(--core__control__color));
      }
      &[readonly] {
        background-color: readonly-color(
          var(--core__control__background-color)
        );
        color: readonly-color(var(--core__control__color));
      }
    }

    textarea,
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="number"],
    input[type="tel"],
    input[type="url"],
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="local"],
    input:not([type]) {
      &:optional {
        @include valid-background(0);
        @include validation-highlight;
      }
      &[minlength],
      &[maxlength],
      &[max],
      &[min],
      &[pattern],
      &:required {
        @include validation-highlight(var(--core__success__color));
        @include valid-background(1);
        &:focus:valid {
          @include valid-background(0.5);
        }
        &:focus:invalid {
          @include invalid-background(0.4);
        }
      }
      &:invalid {
        @include validation-highlight(var(--core__error__color));
        @include invalid-background(0.6);
      }
    }

    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="number"],
    input[type="search"] {
      &:optional {
        background-position: calc(100% - 2em) 0.5em;
      }
      &[minlength],
      &[maxlength],
      &[max],
      &[min],
      &[pattern],
      &:required {
        background-image: none;
        &:focus:valid {
          background-image: none;
        }
        &:focus:invalid {
          background-image: none;
        }
      }
      &:invalid {
        background-image: none;
      }
    }

    textarea,
    input[type="text"],
    input[type="search"],
    input[type="range"],
    input[type="tel"],
    input[type="url"],
    input[type="color"],
    input[type="email"],
    input[type="password"],
    input[type="local"],
    input[type="month"],
    input[type="week"],
    input[type="date"],
    input:not([type]) {
      width: var(--core__control__width);
    }

    input[type="time"],
    input[type="number"] {
      width: calc(var(--core__control__width) / 2);
    }

    input {
      &[type="file"] {
        border: none;
        padding: 0;
      }

      &[type="image"] {
        @if $enable-bustout-prevention {
          max-width: 100%;
          height: auto;
        }
        cursor: default;
        &:focus,
        &:active,
        &:hover:not([disabled]) {
          @include highlight;
        }
        &[disabled] {
          filter: grayscale(85%);
        }
      }
    }

    output {
      @if $enable-semantic-colors {
        background-color: var(--core__output__background-color);
      }
    }

    textarea {
      display: block;
      height: 6em;
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
      text-decoration: none;
      @include flat-button-styling;
      &:focus,
      &:active,
      &:hover:not([disabled]) {
        @include lowlight;
        text-decoration: none;
        cursor: default;
      }
    }

    input[type="button"],
    button {
      &[disabled] {
        background-color: disable-color(var(--core__button__background-color));
        color: disable-color(var(--core__button__color));
      }
    }

    @if $enable-semantic-colors {
      buttonbutton:not([type]):not(standard):not(negative),
      button[type="submit"]:not(standard):not(negative),
      input[type="submit"]:not(standard):not(negative),
      buttonprimary,
      button[type="reset"]primary,
      input[type="reset"]primary,
      input[type="button"]primary {
        background-color: var(--core__button-submit__background-color);
        color: var(--core__button-submit__color);

        &[disabled] {
          background-color: disable-color(
            var(--core__button-submit__background-color)
          );
          color: disable-colorvar(--core__button-submit__color));
        }

        &:focus,
        &:active,
        &:hover:not([disabled]) {
          @include highlight-2;
        }
      }

      button[type="reset"]:not(standard):not(primary),
      input[type="reset"]:not(standard):not(primary),
      buttonnegative,
      input[type="submit"]negative,
      input[type="button"]negative {
        background-color: var(--core__button-reset__background-color);
        color: var(--core__button-reset__color);
        &[disabled] {
          background-color: disable-color(
            var(--core__button-reset__background-color)
          );
          color: disable-color(var(--core__button-reset__color));
        }
        &:focus,
        &:active,
        &:hover:not([disabled]) {
          @include highlight-2;
        }
      }

      buttonnormal,
      input[type="reset"]button,
      input[type="submit"]button,
      input[type="button"]normal {
        background-color: var(--core__button__background-color);
        color: var(--core__button__color);
        &[disabled] {
          background-color: disable-color(var(--core__button__background-color));
          color: disable-color(var(--core__button__color));
        }
        &:focus,
        &:active,
        &:hover:not([disabled]) {
          @include lowlight;
        }
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      appearance: none;
      padding: 0;
      line-height: 0;
      border: 0;
      position: relative;
      top: calc(var(--core__control__height) * -1/16);

      &:before {
        position: absolute;
        content: " ";
        background-color: var(--core__control__background-color);
        display: inline-block;
        height: calc(var(--core__control__height) * 6/8);
        width: calc(var(--core__control__height) * 6/8);
        overflow: hidden;
        border: var(--core__border);
      }

      &:hover:not([disabled]):before {
        @include lowlight;
      }

      &[disabled]:before {
        background-color: disable-color(var(--core__control__background-color));
      }
      &[readonly]:before {
        background-color: readonly-color(var(--core__control__background-color));
      }
    }

    input[type="checkbox"] {
      &::before {
        background-position: 50% 50%;
        @include svg-check(0, var(--core__control__color));
      }
      &:required:before {
        @include svg-cross(0.6);
      }
      &:checked::before {
        @include svg-check(1, var(--core__control__color));
      }
      &:required:checked::before {
        @include svg-check(1, var(--core__success__color));
      }
      &[disabled]:before {
        @include svg-check(1, disable-color(var(--core__control__color)));
      }
      &[disabled]:required:before {
        @include svg-check(1, disable-color(var(--core__success__color)));
      }
      &[readonly]:required:before {
        @include svg-check(1, readonly-color(var(--core__success__color)));
      }
    }

    input[type="radio"] {
      border-radius: 50%;
      &::before {
        border-radius: 50%;
        background-position: 50% 50%;
        @include svg-circle(0, var(--core__control__color));
      }
      /* I don't think it is possible to style */
      /* all radios red and turn them to white except for the checked one. */
      &:checked::before {
        @include svg-circle(1, var(--core__control__color));
      }
      &:required:checked:before {
        @include svg-circle(1, var(--core__success__color));
      }
      &[disabled]:before {
        @include svg-circle(1, disable-color(var(--core__control__color)));
      }
      &[disabled]:required:before {
        @include svg-circle(1, disable-color(var(--core__success__color)));
      }
      &[readonly]:required:before {
        @include svg-circle(1, readonly-color(var(--core__success__color)));
      }
    }

    input[type="color"] {
      -webkit-appearance: none;
      padding: 5px;
      width: calc(var(--core__control__height) * 15/16);
      height: calc(var(--core__control__height) * 15/16);
      background-color: var(--core__control__background-color);
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        padding: 1px 3px; /* set padding on ms and chrome */
      }
      &[disabled] {
        background-color: disable-color(var(--core__control__background-color));
      }
      &[readonly] {
        background-color: readonly-color(var(--core__control__background-color));
      }
      &:focus,
      &:hover:not([disabled]):not([readonly]) {
        @include lowlight;
      }
    }

    input[type="range"] {
      appearance: none;
      height: var(--core__control__height);
      width: var(--core__control__width);
      background-color: var(--core__control__background-color);
       /* for ms */
      &[disabled],
      &[readonly] {
        opacity: 0.5;
      }
      &:active,
      &:hover:not([disabled]) {
        &::-webkit-slider-thumb {
          @include highlight-2;
        }
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: var(--core__button-submit__background-color);
        height: calc(var(--core__control__height) * 6/8);
        width: calc(var(--core__control__height) * 6/8);
      }
      &::-moz-range-track {
        background-color: transparent;
        border: none;
      }
      &:active,
      &:hover:not([disabled]) {
        &::-moz-range-thumb {
          @include highlight;
        }
      }
      &::-moz-range-thumb {
        background-color: var(--core__button-submit__background-color);
        border: none;
        height: calc(var(--core__control__height) * 6/8);
        width: calc(var(--core__control__height) * 6/8);
      }
      &::-ms-track {
        background-color: transparent;
        border: none;
        color: transparent;
      }
      &:active,
      &:hover:not([disabled]) {
        &::-ms-thumb {
          @include highlight;
        }
      }
      &::-ms-thumb {
        appearance: none;
        background-color: var(--core__button-submit__background-color);
        height: calc(var(--core__control__height) * 0.6);
        width: calc(var(--core__control__height) * 0.6);
      }
      &::-ms-fill-lower {
        background-color: transparent;
        border: none;
      }
      &::-ms-fill-upper {
        background-color: transparent;
        border: none;
      }
    }

    progress {
      width: var(--core__control__width);
      appearance: none;
      padding: 0;
      /* ms uses this for color */
      color: var(--controls__progress__color);
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        /* ms and chrome add a border */
        border: none;
      }
      &[value]::-moz-progress-bar {
        background-color: var(--controls__progress__color);
      }
      &[value]::-webkit-progress-bar {
        background-color: var(--core__control__background-color);
        border: var(--core__border);
      }
      &[value]::-webkit-progress-value {
        background-color: var(--controls__progress__color);
      }
    }

    meter {
      /* custom styling of <meter> is not working chrome 69 */
      /* other browser support is not great either */
      /* due to a bug in chrome styling with none is not working */
      -webkit-appearance: meter;
      /* for ms and moz */
      border: 0;
      padding: 0px;
      /* background is being used as a border here because border does not work correctly */
      border-radius: 0;
      background-color: var(--core__border-color);
      width: var(--core__control__width);
    }

    select {
      @include flat-button-styling;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @include svg-drop-arrow;
      background-position: calc(100% - 0.5em) 50%;
      background-repeat: no-repeat;
      background-color: var(--core__button__background-color);
      padding-right: 2em;
      @include validation-highlight(transparent);
      &:active,
      &:hover:not([disabled]) {
        @include lowlight;
      }
      &[disabled] {
        background-color: disable-color(var(--core__button__background-color));
        color: disable-color(var(--core__button__color));
      }
      &:required {
        @include validation-highlight(var(--core__success__color));
      }
      &:invalid {
        @include validation-highlight(var(--core__error__color));
      }
    }

    input[type="file"] {
      &::-webkit-file-upload-button {
        @include flat-button-styling;
        position: relative;
        @include validation-highlight(transparent);
      }
      &:active::-webkit-file-upload-button,
      &:hover:not([disabled])::-webkit-file-upload-button {
        @include lowlight;
        text-decoration: none;
        cursor: default;
      }
      &[disabled]::-webkit-file-upload-button {
        cursor: not-allowed;
        background-color: disable-color(var(--core__button__background-color));
        color: disable-color(var(--core__button__color));
      }
      &:required::-webkit-file-upload-button {
        @include validation-highlight(var(--core__success__color));
      }
      &:invalid::-webkit-file-upload-button {
        @include validation-highlight(var(--core__error__color));
      }
    }
  }
}
