/* _core.css */

:root {
  /* semantic colors */
  $success__color: green;
  --success__color: $success__color;
  $error__color: crimson;
  --error__color: $error__color;
  --samp-kbd-var__background-color: lavender;
  /* NB #F0F0F0 is the same as hljs default theme */
  --code__background-color: #f0f0f0;
  --output__background-color: oldlace;
  --mark__background-color: yellow;
  --control__validation--border-width: 3px;

  /* tables */
  --th__background-color: #ddd;
  --th__color: #000;
  --even-row__background-color: #f2f2f2;
  --odd-row__background-color: #fff;

  /* controls */
  $control__background-color: #fcfcfc;
  --control__background-color: $control__background-color;
  --control__background-color--readonly: color-mod(
    $control__background-color saturation(40%) a(50%)
  );
  --control__background-color--disabled: color-mod(
    $control__background-color saturation(40%) a(50%)
  );

  $control__color: #111;
  --control__color: $control__color;
  --control__color--readonly: color-mod($control__color saturation(40%) a(50%));
  --control__color--disabled: color-mod($control__color saturation(40%) a(50%));
  --control__height: 2em;
  --control__width: 12em;

  /* general */
  --background-color: #fff;
  --color: #111;
  --border-width: 1px;
  --border-color: #ccc;

  --border: var(--border-width) solid var(--border-color);

  --indent-size: 1.5em;
  --indent-size--bullet: calc(var(--indent-size) + 1.5em);
  --vertical-padding-size: 1em;
  --small-pad: 0.3em;

  /* padding */
  --text__padding: calc(var(--small-pad) / 3) var(--small-pad);
  --cell__padding: var(--small-pad) calc(var(--small-pad) * 3);
  --input__padding: 0 var(--small-pad);
  --button__padding: 0 calc(var(--small-pad) * 3);
  --container__padding-size: 1em;

  /* headings */
  --h1__font-size: 2em;
  --h2__font-size: 1.5em;
  --h3__font-size: 1.17em;
  --h4__font-size: 1em;
  --h5__font-size: 0.83em;
  --h6__font-size: 0.67em;

  /* button colors */
  $button__background-color: #eee;
  --button__background-color: $button__background-color;
  --button__background-color--disabled: color-mod(
    $button__background-color saturation(40%) a(50%)
  );
  $button__color: #111;
  --button__color: $button__color;
  --button__color--disabled: color-mod($button__color saturation(40%) a(50%));

  $button-submit__background-color: royalblue;
  --button-submit__background-color: $button-submit__background-color;
  --button-submit__background-color--disabled: color-mod(
    $button-submit__background-color saturation(40%) a(50%)
  );
  $button-submit__color: #fff;
  --button-submit__color: $button-submit__color;
  --button-submit__color--disabled: color-mod(
    $button-submit__color saturation(40%) a(50%)
  );

  $button-reset__background-color: firebrick;
  --button-reset__background-color: $button-reset__background-color;
  --button-reset__background-color--disabled: color-mod(
    $button-reset__background-color saturation(40%) a(50%)
  );
  $button-reset__color: #fff;
  --button-reset__color: $button-reset__color;
  --button-reset__color--disabled: color-mod(
    $button-reset__color saturation(40%) a(50%)
  );

  /* checkbox icon */
  --icon-checkbox--unchecked: none;
  --icon-checkbox--unchecked-required: svg-load(
    "assets/cross.svg",
    fill = $error__color
  );
  --icon-checkbox--checked: svg-load(
    "assets/check.svg",
    fill = $control__color
  );
  --icon-checkbox--checked-required: svg-load(
    "assets/check.svg",
    fill = $success__color
  );
  --icon-checkbox--checked-disabled: svg-load(
    "assets/check.svg",
    fill = color-mod($control__color a(50%))
  );
  --icon-checkbox--checked-required-disabled: svg-load(
    "assets/check.svg",
    fill = color-mod($success__color a(50%))
  );
  --icon-checkbox--checked-required-readonly: svg-load(
    "assets/check.svg",
    fill = color-mod($success__color a(50%))
  );

  /* radio icon */
  --icon-radio--unchecked: none;
  --icon-radio--checked: svg-load("assets/circle.svg", fill = $control__color);
  --icon-radio--checked-required: svg-load(
    "assets/circle.svg",
    fill = $success__color
  );
  --icon-radio--disabled: svg-load(
    "assets/circle.svg",
    fill = color-mod($control__color a(50%))
  );
  --icon-radio--required: svg-load(
    "assets/circle.svg",
    fill = color-mod($success__color a(50%))
  );
  --icon-radio--required-readonly: svg-load(
    "assets/circle.svg",
    fill = color-mod($success__color a(50%))
  );

  /* validation icon */
  --icon-validation--none: none;
  --icon-validation--valid: svg-load(
    "assets/check.svg",
    fill = color-mod($success__color a(60%))
  );
  --icon-validation--valid-focus: svg-load(
    "assets/check.svg",
    fill = color-mod($success__color a(40%))
  );
  --icon-validation--invalid: svg-load(
    "assets/cross.svg",
    fill = color-mod($error__color a(60%))
  );
  --icon-validation--invalid-focus: svg-load(
    "assets/cross.svg",
    fill = color-mod($error__color a(40%))
  );

  /* select drop arrow */
  --icon-select-arrow: svg-load(
    "assets/drop-arrow.svg",
    fill = rgba(0, 0, 0, 0.5)
  );
}

/* mixins */
@mixin highlight {
  @if $enable-styling {
    filter: brightness(110%);
  }
}

@mixin highlight-2 {
  @if $enable-styling {
    filter: brightness(130%);
  }
}

@mixin lowlight {
  @if $enable-styling {
    filter: brightness(95%);
  }
}
