/* _general-styling.css */

/* mixins */
@mixin highlight {
  @if $enable-styling {
    filter: brightness(110%);
  }
}

@mixin section-block {
  @if $enable-styling {
    margin: var(--core__vertical-padding-size) 0;
  }
}

@mixin content-block {
  margin: var(--core__container__padding-size) 0;
}

/* top level tags */
html {
  font-size: 16px;
}

body {
  line-height: 1.6em;
  background-color: var(--core__background-color);
  color: var(--core__color);

  /* theme */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  max-width: 960px;
  margin: auto;
  padding: 3em 3%;
}

/* headings */
h1 {
  font-size: var(--core__h1__font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--core__h2__font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--core__h3__font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--core__h4__font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--core__h5__font-size);
  line-height: 1.2em;
}

h6 {
  font-size: var(--core__h6__font-size);
  line-height: 1.2em;
}

/* semantic blocks */
p,
pre,
address,
blockquote {
  @include section-block;
}

pre {
  padding: var(--core__vertical-padding-size) var(--core__indent-size);
  background-color: var(--core__code__background-color);

  @if $enable-bustout-prevention {
    overflow-x: auto;
  }

  code {
    padding: 0;
  }
}

blockquote,
address {
  padding: var(--core__vertical-padding-size) var(--core__indent-size);
  font-style: italic;
}

/* lists */
ul,
ol {
  @include content-block;
  padding-left: var(--core__indent-size--bullet);
}

dl {
  @include content-block;
}

dt,
dd {
  @include content-block;
  padding-left: var(--core__indent-size);
  + dd {
    margin-top: calc(-var(--core__container__padding-size));
  }
}

dt {
  font-weight: bold;
}

/* figure */
figure {
  @include content-block;
  border: var(--core__border);
  padding: var(--core__container__padding-size);
}

figcaption {
  font-style: italic;
}

/* layout */
hr {
  margin-top: var(--core__vertical-padding-size);
  margin-bottom: var(--core__vertical-padding-size);
  border: var(--core__border);
  border-width: 0 0 var(--core__border-width) 0;
}

/* semantic styling tags */
q {
  font-style: italic;
}

del {
  @if $enable-semantic-colors {
    color: var(--core__error__color);
  }
}

ins {
  @if $enable-semantic-colors {
    color: var(--core__success__color);
  }
}

code,
var,
samp,
kbd,
tt {
  /* tt is deprecated */
  padding: var(--core__text__padding);
  @if $enable-semantic-colors {
    background-color: var(--core__code__background-color);
  }
}

samp,
kbd,
var {
  @if $enable-semantic-colors {
    background-color: var(--core__samp-kbd-var__background-color);
  }
}

mark {
  padding: var(--core__text__padding);
  @if $enable-semantic-colors {
    background-color: var(--core__mark__background-color);
  }
}

/* tables */
table {
  @include content-block;
  background-color: var(--core__even-row__background-color);
}

caption {
  margin-bottom: calc(var(--core__container__padding-size) / 2);
}

td,
th {
  padding: var(--core__cell__padding);
  vertical-align: top;
}

tr:nth-child(odd) {
  background-color: var(--core__odd-row__background-color);
}

th {
  background-color: var(--core__th__background-color);
  color: var(--core__th__color);
  text-align: left;
}

/* embeded content tags */
img,
picture,
canvas,
video,
object,
embed,
iframe {
  @if $enable-bustout-prevention {
    max-width: 100%;
    height: auto;
  }
}

a {
  /* this ensures images have the correct border */
  /* also links split over multiple lines don't look great */
  /* they will still wrap if necessary */
  display: inline-block;
  > img,
  > canvas,
  > picture {
    &:focus,
    &:active,
    &:hover:not([disabled]) {
      @include highlight;
    }
  }
}

iframe {
  border: none;
}

audio {
  @if $enable-bustout-prevention {
    max-width: 100%;
  }
}

noscript {
  @include section-block;
}

/* forms */
fieldset {
  @include content-block;
  border-style: none;
  padding: 0;
  padding-top: var(--core__container__padding-size);
}

legend {
  padding: 0;
}

/* collapsable details */
details {
  @include content-block;
}

summary {
  @include content-block;
}
